@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Roboto';
}
*, *::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.2em;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
}